<!DOCTYPE HTML>
 <html>
   <head>
     <title>Hello, Sinatra with NIFTYCloud C4SA!</title>
   </head>
   <body>
     <h1>Hello, Sinatra with NIFTYCloud C4SA!</h1>
     <p>hello, <%= @name %></p>
   </body>
 </html>